td.nameBold {font-weight: bold}
td.redbkd {background-color:#FF0000; font-weight: bold}
td.ornbkd {background-color:#F79646; font-weight: bold}
td.yelbkd {background-color:#FFFF00; font-weight: bold}
td.grnbkd {background-color:#00FF00; font-weight: bold}
p.yelbkd {background-color:#FFFF00; font-weight: bold}
p.redbkd {background-color:#FF0000; font-weight: bold}
p.ornbkd {background-color:#F79646; font-weight: bold}

.container_12{
		margin-left: auto;
		margin-right: auto;
		width: 99%;
		}
		
.container_legend{
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		font-size: 13px;
		}

.container_metrics{
		margin-left: 10%;
		margin-right: auto;
		width: 50%;
		font-size: 15px;
		}

